<?xml version="1.0"?>

<robot name="orne_alpha" xmlns:xacro="http://ros.org/wiki/xacro"
                         xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
                         xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
                         xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
>

<xacro:include filename="$(find orne_description)/urdf/orne_x.xacro"/>
<xacro:include filename="$(find icart_mini_description)/urdf/sensors/imu.urdf.xacro"/>
<xacro:include filename="$(find icart_mini_description)/urdf/sensors/hokuyo.urdf.xacro"/>
<xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>

<!-- Setting for imu -->
<xacro:sensor_imu name="imu" parent="base_link" size="0.05 0.05 0.05">
    <origin xyz="-0.145 0.0 0.21" rpy="0 0 0"/>
</xacro:sensor_imu>



<!-- Setting for levelly fixed 2D URG -->
<xacro:sensor_hokuyo name="hokuyo" parent="base_link">
    <origin xyz="0.212 0 0.2485" rpy="0 0 0"/>
</xacro:sensor_hokuyo>


<!-- Setting for diagonally fixed 2D URG -->
<!--
<xacro:include filename="$(find icart_mini_description)/urdf/sensors/hokuyo.urdf.xacro"/>
<xacro:sensor_hokuyo name="diagonally_hokuyo" parent="base_link">
   <origin xyz="0.098 0 0.422" rpy="0 0.296706 0"/>
</xacro:sensor_hokuyo>
-->

<!--
<xacro:include filename="$(find icart_mini_description)/urdf/sensors/hokuyo3d.urdf.xacro"/>
<xacro:sensor_hokuyo3d name="hokuyo3d" parent="base_link">
    <origin xyz="0.2 0 0.7" rpy="0 0.174 0"/>
</xacro:sensor_hokuyo3d>
-->



<xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
<xacro:VLP-16 name="velodyne" parent="base_link">
    <origin xyz="0.098 0.0 0.422" rpy="0 0 0"/>
</xacro:VLP-16>

</robot>
