[submodule "t_frog_gazebo"]
	path = t_frog_gazebo
	url = https://github.com/open-rdc/t_frog_gazebo
[submodule "t_frog_driver"]
	path = t_frog_driver
	url = https://github.com/open-rdc/t_frog_driver
[submodule "t_frog_navigation"]
	path = t_frog_navigation
	url = https://github.com/open-rdc/t_frog_navigation
[submodule "t_frog_slam"]
	path = t_frog_slam
	url = https://github.com/open-rdc/t_frog_slam
