<?xml version="1.0"?>

<launch>
  <arg name="scan_frame"          default="/hokuyo_link"/>
  <arg name="model"               default="$(find xacro)/xacro.py '$(find icart_mini_description)/urdf/icart_mini.xacro'"/>
  <arg name="ypspur_params"       default="/usr/local/share/robot-params/icart-mini.param"/>
  <arg name="use_eth_urg"         default="false"/>
  <arg name="urg_ip"              default="192.168.0.10" if="$(arg use_eth_urg)"/>
  <arg name="scan_dev"            default="/dev/sensors/hokuyo_urg" unless="$(arg use_eth_urg)"/>

  <node name="ypspur_coordinator_bridge" pkg="icart_mini_driver" type="ypspur_coordinator_bridge" args="$(arg ypspur_params)" output="screen"/>

  <param name="robot_description" command="$(arg model)" />

  <node pkg="urg_node" type="urg_node" name="urg_node" if="$(arg use_eth_urg)">
    <param name="frame_id" value="$(arg scan_frame)"/>
    <param name="ip_address"  value="$(arg urg_ip)"/>
    <param name="publish_multiecho" value="false"/>
  </node>

  <node name="icart_mini_driver_node" pkg="icart_mini_driver" output="screen" type="icart_mini_driver_node"/>
  
  <include file="$(find icart_mini_control)/launch/icart_mini_control.launch" />
  
</launch>
