<?xml version="1.0"?>

<launch>
  <arg name="map_file"      default="$(find orne_navigation_executor)/maps/mymap"/>
  <arg name="waypoints_file"      default="$(find orne_navigation_executor)/waypoints_cfg/waypoints.yaml"/>
  <arg name="suspend_file"      default="$(find orne_strategy)/suspend_cfg/suspend.yaml"/>

  <include file="$(find orne_navigation_executor)/launch/localization.launch">
    <arg name="robot_name" value="beta"/>
    <arg name="map_file" value="$(arg map_file)"/>
  </include>

  <node pkg="orne_waypoints_editor" name="orne_suspend_editor" type="orne_suspends_editor" output="screen">
    <param name="filename" value="$(arg waypoints_file)"/>
    <param name="suspend_filename" value="$(arg suspend_file)"/>
    <remap from="wayponts_viz" to="clicked_point"/>
    <remap from="finish_pose" to="move_base_simple/goal"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orne_waypoints_editor)/rviz_cfg/orne_waypoints_editor.rviz"/>

</launch>
