<?xml version="1.0"?>

<launch>
  <arg name="odom_topic" default="/odom"/>
  <arg name="cmd_vel" default="/cmd_vel"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/odom" to="$(arg odom_topic)"/>
    <remap from="/cmd_vel" to="$(arg cmd_vel)"/>
    <rosparam file="$(find orne_navigation_executor)/param/costmap_common_params_middle.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find orne_navigation_executor)/param/costmap_common_params_middle.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find orne_navigation_executor)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/move_base_params.yaml" command="load"/>
    <!--param name="base_global_planner" value="global_planner/GlobalPlanner"/-->
    <!--rosparam file="$(find orne_navigation_executor)/param/dwa_local_planner_params.yaml" command="load"/-->
    <rosparam file="$(find orne_navigation_executor)/param/base_local_planner_params.yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/recovery_params.yaml" command="load"/>
  </node>
</launch>
