<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="alpha"/>
  <arg name="map_file"   default="$(find orne_navigation_executor)/maps/mymap"/>
  <arg name="init_pos_file" default="$(find orne_navigation_executor)/initial_pose_cfg/initial_pose.yaml"/>
  <arg name="odom_topic" default="combined_odom"/>

  <include file="$(find orne_navigation_executor)/launch/move_base.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cmd_vel" value="icart_mini/cmd_vel"/>
  </include>

  <include file="$(find orne_navigation_executor)/launch/localization.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="init_pos_file" value="$(arg init_pos_file)"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orne_navigation_executor)/rviz_cfg/nav.rviz"/>

</launch>
