<?xml version="1.0"?>

<launch>
  <arg name="robot_name"     default="alpha"/> <!-- alpha or gamma-->
  
  <arg name="map_file"       default="$(find orne_navigation_executor)/config/maps/mymap"/>
  <!-- tsukuba2022 -->
  <!-- <arg name="map_file"       default="$(find orne_navigation_executor)/config/maps/tsukuba/tsukuba_all_resized"/> -->
  
  <!-- tsudanuma -->
  <!-- <arg name="map_file"       default="$(find orne_navigation_executor)/config/maps/tsudanuma/tsudanuma_all"/> -->
  
  <!--cit 3F-->
  <!-- <arg name="map_file"       default="$(find orne_navigation_executor)/config/maps/cit_3f/cit_3f_map"/> -->
  
  <!--tsudanuma chyurinzyou-->
  <!-- <arg name="map_file"       default="$(find orne_navigation_executor)/config/maps/tsudanuma_ch/tsudanuma_chyurin"/> -->
  
  <!--cit_18f-->
  <!-- <arg name="map_file"       default="$(find orne_navigation_executor)/config/maps/cit_18f/tsudanuma18"/> -->

  <arg name="init_pos_file"  default="$(find orne_navigation_executor)/config/initial_pose_cfg/initial_pose_$(arg robot_name).yaml"/>
  <!-- <arg name="waypoints_file" default="$(find orne_navigation_executor)/config/waypoints_cfg/waypoints_$(arg robot_name).yaml"/> -->
  <!-- <arg name="waypoints_file" default="$(find orne_navigation_executor)/config/maps/cit_18f/tsudanuma18_way.yaml"/> -->
  <!-- <arg name="waypoints_file" default="$(find waypoint_nav)/config/tsudanuma_way.yaml"/> -->
  <arg name="dist_err"       default="1.2"/>

  <arg name="odom_topic" default="odometry/filtered"/>
  <arg name="cmd_vel" default="/nav_vel"/>

  <include file="$(find orne_navigation_executor)/launch/move_base.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="cmd_vel" value="$(arg cmd_vel)"/>
  </include>

  <include file="$(find orne_navigation_executor)/launch/localization.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="init_pos_file" value="$(arg init_pos_file)"/>
  </include>

  <!--bringup waypoint_server for tsukuba_2022-->
  
  <!-- <include file="$(find waypoint_server)/launch/waypoint_server_tsukuba2022.launch"/> -->
  <!-- <include file="$(find waypoint_server)/launch/waypoint_server.launch"/> -->
  
  <!-- <node name="waypoints_nav" pkg="fulanghua_waypoints_nav" type="waypoints_nav" output="screen">
    <param name="filename" value="$(arg waypoints_file)"/>
    <param name="dist_err" value="$(arg dist_err)"/>
  </node> -->
  <!-- <node name="waypoints_nav" pkg="waypoint_nav" type="waypoint_navigator" output="screen">
    <param name="filename" value="$(arg waypoints_file)"/>
    <param name="dist_err" value="$(arg dist_err)"/>
    <param name="loop_flag" value="true"/>
  </node> -->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orne_navigarion_executor)/config/rviz_cfg/nav.rviz"/>
  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find waypoint_visualization)/rviz_config/nav_manager_v5.rviz"/> -->

</launch>
