<?xml version="1.0"?>

<launch>
  <arg name="robot_name"     default="gamma"/>
  <arg name="map_file"       default="$(find orne_navigation_executor)/maps/mymap"/>
  <arg name="init_pos_file"  default="$(find orne_navigation_executor)/initial_pose_cfg/initial_pose_$(arg robot_name).yaml"/>
  <arg name="odom_topic"     default="icart_mini/odom"/>
  <arg name="waypoints_file" default="$(find orne_navigation_executor)/waypoints_cfg/waypoints_$(arg robot_name).yaml"/>
  <arg name="dist_err"       default="1.0"/>

  <arg name="suspend" default="False"/>
  <param name="state" value="$(arg suspend)"/>
  <arg name="suspend_file"       default="$(find orne_strategy)/suspend_cfg/suspend.yaml"/>

  <include file="$(find orne_navigation_executor)/launch/play_waypoints_nav_common.launch">
    <arg name="robot_name"    value="$(arg robot_name)"/>
    <arg name="map_file"      value="$(arg map_file)"/>
    <arg name="init_pos_file" value="$(arg init_pos_file)"/>
    <arg name="waypoints_file" value="$(arg waypoints_file)"/>
    <arg name="dist_err" value="$(arg dist_err)"/>
    <arg name="suspend_file"      value="$(arg suspend_file)"/>
  </include>
</launch>
