<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="alpha"/>
  <arg name="costmap_file"/>
  <arg name="odom_topic" default="/odom"/>
  <arg name="cmd_vel"    default="/cmd_vel"/>

  <node name="map_server_for_costmap" pkg="map_server" type="map_server" args="$(arg costmap_file)">
    <remap from="map" to="map_for_costmap"/>
    <param name="frame_id" value="map_for_costmap"/>
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/odom" to="$(arg odom_topic)"/>
    <remap from="/cmd_vel" to="$(arg cmd_vel)"/>
    <rosparam file="$(find orne_navigation_executor)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find orne_navigation_executor)/param/foot_print_$(arg robot_name).yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find orne_navigation_executor)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find orne_navigation_executor)/param/foot_print_$(arg robot_name).yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find orne_navigation_executor)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/move_base_params.yaml" command="load"/>
    <!--param name="base_global_planner" value="global_planner/GlobalPlanner"/-->
    <!--rosparam file="$(find orne_navigation_executor)/param/dwa_local_planner_params.yaml" command="load"/-->
    <rosparam file="$(find orne_navigation_executor)/param/base_local_planner_params_$(arg robot_name).yaml" command="load"/>
    <rosparam file="$(find orne_navigation_executor)/param/recovery_params.yaml" command="load"/>
  </node>
</launch>
