<launch>
    <include file="$(find icart_mini_gazebo)/launch/icart_mini.launch">
        <arg name="model" value="$(find xacro)/xacro.py '$(find icart_mini_description)/urdf/icart_mini_with_hokuyo3d.xacro'"/>
        <arg name="world" value="$(find icart_mini_gazebo)/worlds/willow.world"/>
    </include>
</launch>
