<launch>
    <arg name="output" default="screen"/>
    <arg name="ypspur_serial_port" default="/dev/sensors/icart-mini"/>
    <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros" output="$(arg output)" respawn="true">
        <rosparam command="load" file="$(find orne_bringup)/config/ypspur_ros.yaml" subst_value="true"/>
        <param name="param_file" value="$(find orne_bringup)/config/ypspur/alpha.param"/>
        <param name="port" value="$(arg ypspur_serial_port)"/>
    </node>

    <!-- <include file="$(find orne_bringup)/launch/includes/description.launch.xml"/> -->
    <include file="$(find orne_bringup)/launch/includes/teleop_joy.launch"/>
    <include file="$(find orne_bringup)/launch/includes/robot_localization.launch"/>
    <include file="$(find orne_bringup)/launch/includes/urg.launch"/>
    
    <!-- <include file="$(find orne_bringup)/launch/includes/adis16465.launch"/> -->
    <!-- <node pkg="orne_bringup" type="projected_transform_publisher_node" name="projected_transform_publisher" output="$(arg output)">
    </node-->
</launch>