<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="sensor_imu">
  
  <xacro:macro name="sensor_imu" params="name parent *origin size">
    <joint name="${name}_joint" type="fixed">
      <axis xyz="1 0 0"/>
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.005"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="${size}"/>
        </geometry>
        <material name="green"/>
      </visual>
    </link>
      <gazebo>
        <plugin name="ros_imu" filename="libgazebo_ros_imu.so">
          <bodyName>${parent}</bodyName> <!-- bodyName always set base_link by URDF parser -->
          <topicName>imu_data</topicName>
          <serviceName>imu_service</serviceName>
          <gaussianNoise>0.005</gaussianNoise>
          <updateRate>100.0</updateRate>
          <frameName>${parent}</frameName>
        </plugin>
      </gazebo>
  </xacro:macro>
</robot>
