<?xml version="1.0"?>

<launch>
  <arg name="stoppoint_file" default="$(find orne_stoppoint_manager)/stoppoint_cfg/stoppoint.yaml"/>

  <node name="stoppoint_sender" pkg="orne_stoppoint_manager" type="orne_stoppoint_sender">
    <param name="filename" value="$(arg stoppoint_file)"/>
  </node>
</launch>

